body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .left-text {
    margin-right: 70px;
    width: 400px;
  }
  
  .left-text h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .left-text p {
    font-size: 18px;
    color: #555;
  }
  
  .login-box {
    background-color: #fff;
    padding: 30px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  }
  
  .login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    background-color: #1877f2;
    color: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-box a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #1877f2;
    text-decoration: none;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  .create-btn {
    background-color: #42b72a;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }